@import "../variables/color.scss";

.technologie {
  position: relative;
  overflow: hidden;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 24px;
  }
  &__name {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 125% */
    letter-spacing: -1px;
    color: $light;
    text-transform: capitalize;
  }
  &__experience {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: $experience;
  }
  &__wrapperOval {
    position: absolute;
    bottom: 0;
    right: -400px;
  }
}
