@import "../variables/color.scss";
.about {
  position: relative;
  @media screen and (min-width: 1280px) {
    max-width: 1440px;
    margin: 0 auto;
  }
  &__wrapperOval {
    top: 100px;
    position: absolute;
    left: calc(-530px / 2);
    @media screen and (min-width: 766px) {
      top: 50px;
    }
    @media screen and (min-width: 1440px) {
      left: 0;
    }
  }
  &__wrapperName {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    &__name {
      visibility: hidden;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
      letter-spacing: -0.333px;
      margin: 20px 23px 0 22px;
      @media screen and (min-width: 766px) {
        margin: unset;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
        letter-spacing: -0.444px;
      }
    }
    &__icons {
      display: flex;
      gap: 20px;
      & > div {
        cursor: pointer;
      }
    }
    @media screen and (min-width: 766px) {
      flex-direction: row;
      justify-content: space-between;
      padding: 29px 30px;
      margin-bottom: 66px;
    }
    @media screen and (min-width: 1440px) {
      padding: 30px 0;
    }
  }
  &__wrapperImage {
    margin: unset;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
    @media screen and (min-width: 766px) {
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      height: 500px;
    }
  }
  &__profileImage {
    height: auto;
    width: auto;
    object-fit: cover;
    @media screen and (min-width: 766px) {
      aspect-ratio: 9/16;
      height: 100%;
      width: 100%;
      object-fit: contain;
    }
  }
  &__svg_circle {
    position: absolute;
    right: -63px;
    top: 163px;
    @media screen and (min-width: 1440px) {
      right: 340px;
      top: 341px;
    }
  }
  &__wrapperAboutGreetings {
    padding: 16px;
    display: flex;
    flex-direction: column;
    @media screen and (min-width: 766px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      padding: unset;
      padding-left: 32px;
    }
    @media screen and (min-width: 1440px) {
      padding: unset;
      grid-template-columns: 2fr 1fr;
    }
  }
  &__wrapperGreetings {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: -1.136px;
    text-align: center;
    margin-bottom: 24px;
    @media screen and (min-width: 766px) {
      font-size: 72px;
      font-style: normal;
      font-weight: 700;
      line-height: 72px; /* 100% */
      letter-spacing: -2.045px;
      margin-bottom: 60px;
      text-align: left;
    }
    @media screen and (min-width: 1440px) {
      font-size: 88px;
      font-style: normal;
      font-weight: 700;
      line-height: 88px; /* 100% */
      letter-spacing: -2.5px;
    }
  }
  &__greetings {
    margin: unset;
  }
  &__name {
    border-bottom: 4px solid $secondary-color;
  }
  &__myGoal {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 24px;
    @media screen and (min-width: 766px) {
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      text-align: left;
      margin-bottom: 34px;
    }
  }
  &__wrapperAboutMe {
    margin-bottom: 92px;
    @media screen and (min-width: 766px) {
      & > div {
        text-align: left;
      }
    }
  }
  &__icon {
    &-phone {
      display: block;
      height: 100%;
      width: 100%;
      transform: translateY(4px);
      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
