@import "../variables/color.scss";
.about {
  position: relative;
  &__wrapperOval {
    top: 100px;
    position: absolute;
    left: calc(-530px / 2);
  }
  &__wrapperName {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &__name {
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 133.333% */
      letter-spacing: -0.333px;
      margin: 20px 23px 0 22px;
    }
    &__icons {
      display: flex;
      gap: 20px;
      & > div {
        cursor: pointer;
      }
    }
  }
  &__wrapperImage {
    margin: unset;
    text-align: center;
    position: relative;
    margin-bottom: 40px;
    overflow: hidden;
  }
  &__profileImage {
    height: 300px;
    object-fit: cover;
  }
  &__svg_circle {
    position: absolute;
    right: -63px;
    top: 163px;
  }
  &__wrapperAboutGreetings {
    padding: 16px;
  }
  &__wrapperGreetings {
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 100% */
    letter-spacing: -1.136px;
    text-align: center;
    margin-bottom: 24px;
  }
  &__greetings {
    margin: unset;
  }
  &__name {
    border-bottom: 4px solid $border-color;
  }
  &__myGoal {
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    margin-bottom: 24px;
  }
  &__wrapperAboutMe {
    margin-bottom: 92px;
  }
  &__icon {
    &-phone {
      display: block;
      height: 100%;
      width: 100%;
      transform: translateY(4px);
      & svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
